body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 600;
}

a {
    color: #b900ad;
    text-decoration: none;
}

.main {
    padding: 4em 2em;
    margin: 0 auto;
    text-align: center;    
}

.main h1 {
    font-size: 4em;
}