:root {
    --main-color: #b94700;
    --secondary-color: #F7E1CD;    
}

@font-face {
    font-family: 'Eyesome Script';
    src: url('Eyesome-Script.woff2') format('woff2'),
         url('Eyesome-Script.otf') format('opentype');
}    

*, *::before, *::after {
    box-sizing: border-box;    
}
* {
    margin: 0;
}

h1 {

}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-size: 22px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;    
}
h1, h2, h3, h4, h5, h6 {    
    font-family: 'Eyesome Script', sans-serif;
}

#root, #__next {
    isolation: isolate;
}

li, ul {
    list-style: none;
    padding: 0;
}

nav {
    position: absolute;
    width: 100%;
    padding: 2rem 0;
    .grid {
        display: flex;
        gap: 4rem;
        justify-content: center;       
        a {
            font-size: 1rem;
            text-transform: uppercase;
        } 
    }
    
}

.grid {
    display: grid;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
    @media screen and (max-width: 999px) {
        padding: 0 1rem;
    }
}

section {
    height: 100vh;
}

section.heading {
    background-color: var(--main-color);        
    .grid {
        height: 100%;
        justify-content: center;
        align-items: center;        
    }
    .content {
        text-align: center;
        display: grid;
        gap: 2rem;
        h2 {
            font-size: 6rem;
        }
    }
    .and {
        font-size: 2rem;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 20rem;
        &.left {
            left: 0;
            transform: scaleX(-1);
        }
    }
    .timer {
        margin-top: 1rem;
        #timer {
            display: flex;
            justify-content: center;
            gap: 1rem;        
            .time {
                padding: 1rem;
                border-radius: 1px;
                font-size: 1.2rem;                
            }
        }
    }
}

section.entourage {
    background: var(--secondary-color);
    color: var(--main-color);
    height: auto;
    padding: 6rem 2rem;
    .grid {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        .block {            
            ul {                
                display: flex;
                gap: 2rem;
                justify-content: space-around;        
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }    
            }
        }
        h2 {
            margin-bottom: 2rem;
        }
    }
}

section.yourname {
    background-image: url('/assets/img/kimi-no-nawa-background.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}

.go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--main-color);
    padding: 0.6rem;
    border-radius: 5px;
}

.sparkle {
    position: fixed;
    bottom: 0.6rem;
    right:6rem;
}

#loom-companion-mv3 {
    display: none;
}