<header>
    <div class="container">
        <div class="flex">
            <div class="logo">
                <a class="site-name" rel="author" href="/">
                    {% if page.url == '/' %}
                        <h1>Mark Internaut</h1>
                    {% else %}
                        <p class="h1">Mark Internaut</p>
                    {% endif %}
                </a> 
            </div>
            <div class="nav">
                <a class="link h4" href="/">Home</a>
                <a class="link h4" href="/about/">About</a>
            </div>
        </div>
    </div>
</header>