:root {
    font-family: "brandon-grotesque",sans-serif;
}

/* resetters */
a, span {
    text-decoration: none !important;
}
.header__heading, .header__heading-link {
    justify-self: center;
}
@media screen and (min-width: 990px) {
    .header--middle-left {
        grid-template-areas: "navigation heading icons";
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* custom font */
h1, h2, h3 {
    font-family: "brandon-grotesque",sans-serif;
}

p, a {
    font-family: "mr-eaves-modern",sans-serif;
}
